$button-blue: #28BC8C;

.nav-bar {
  display: flex;
  width: 100%;
  height: 75px;
  align-items: center;
  justify-content: space-between;
}

.nav-bar.search-bar {
  justify-content: center;
}

.logo-search-box {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.user-info-box {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.user-info-box:hover #user-dropdown {
  display: block;
}


.nav {
  display: flex;
}

.nav button {
  background-color: inherit;
  border-color: $button-blue;
  color: $button-blue;
  border-style: solid;
  font-size: 15px;
  padding: 10px;
  padding-left: 12px;
  padding-right: 12px;
  margin: 15px;
  text-align: center;
}

.nav button:hover {
  background-color: $button-blue;
  color: white;
  cursor: pointer;
}
.nav button:focus {
  outline: none;
}

.logo{
  height: 25px;
  width: 275px;
  margin-left: 15px;
  justify-content: flex-start;
}

.logo:hover {
  cursor: pointer;
}

.search-bar {
  height: 15px;
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  border-bottom: 1px solid white;
  justify-content: center;
}

.search-bar:hover {
  border-bottom: 1px solid lightgray;
}
.search-bar:focus {
  border-bottom: 1px solid lightgray;
}
.search-icon {
  height: 15px;
  width: 15px;
  filter: brightness(25%);
}

.toggle-modal-box {
  justify-content: center;
}

.toggle-modal-box h4 {
  display: flex;
  justify-content: center;
}

.toggle-modal-box button {
  background-color: inherit;
  border-color: $button-blue;
  color: $button-blue;
  border-style: solid;
  font-size: 15px;
  padding: 10px;
  padding-left: 12px;
  padding-right: 12px;
  margin: 10px;
}

.toggle-modal-box button:hover {
  background-color: $button-blue;
  color: white;
  cursor: pointer;
}

.header-list {
  position: relative;
}

.header-list:hover #user-dropdown {
  display: block;
}
#user-icon {
  margin: 10px 15px 0px 15px;
  z-index: 10;
}

#user-icon img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin-bottom: 0px
}


#user-name {
  font-size: 20px;
  margin: auto;
  color: black;
}
#user-dropdown {
  position: absolute;
  background: white;
  margin-right: 15px;
  padding-right: 15px;
  display: none;
  overflow: hidden;
  z-index: 10;
  font-size: 15px;
  width: 100px;
  color: #4d4e50;
  border: none;
}

#user-dropdown > li {
  background-color: white;
  text-align: center;
  vertical-align: top;
  padding: 7px;
  color: #4d4e50;
}

#logout {
  position: fixed;
  top: 58px;
  right: 15px;
  margin: 0px;
  width: 100px;
  color: black;
  border-color: lightgray;
  z-index: 150;
}

#logout:hover {
  color: white;
  border: none;
}
#add-user-pic {
  position: fixed;
  top: 97px;
  right: 15px;
  margin: 0px;
  width: 100px;
  color: black;
  border-color: lightgray;
  z-index: 150;
}

#add-user-pic:hover {
  color: white;
  border: none;
}
