// Place all the styles related to the api/reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$button-blue: #28BC8C;
$edit-orange: #D4632E;
$delete-red: #BC3C28;

.reservations-container {
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}
.reservations-container h2 {
  margin-top: 20px;
}

.reservations{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 500px;
}

.reservation-errors {
  padding-bottom: 10px;
  text-align: center;
}

.display-dates {
  display: flex;
  justify-content: center;
}

.display-dates li {
  font-size: 15px;
}

.reservation {
  margin: 30px 27px;
  width: 325px;
  background-color: $button-blue;
  position: relative;
  box-shadow: 0 2px 3px 2px rgba(0,0,0,0.3);
}

.place-main-image {
  height: 200px;
}

.host-image-url {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 155px;
  left: 125px;
}

.host-image-url:hover {
  box-shadow: 0 0 4px #000000;
}

.reservation-details {
  margin: 40px 20px 0 20px;
}

.reservation-details li {
  padding: 5px;
}

.reservation-details li h3 {
  margin: 10px 0 5px 0;
}

.reservation-rating {
  margin-bottom: 5px;
}

.reservation-link {
  font-size: 20px;
  text-decoration: underline;
}

.reservation-edit-button, {
  padding: 5px 10px;
  margin: 5px 10px 20px 10px;
  font-size: 16px;
  background-color: $edit-orange;
  border-color: $edit-orange;
  color: white;
}

.reservation-edit-button:hover {
  color: $edit-orange;
  background-color: white;
}

.reservation-delete-button, {
  padding: 5px 10px;
  margin: 5px 10px 20px 10px;
  font-size: 16px;
  background-color: $delete-red;
  border-color: $delete-red;
  color: white;
}

.reservation-delete-button:hover {
  color: $delete-red;
  background-color: white;
}

.reservation-edit-button {
  margin-right: 0;
}

.reservation-edit-form-container {
  background: mix(white, $button-blue, 85%);
}

.reservation-edit-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.reservation-edit-form-box {
  padding: 25px;
}

.reservation-edit-form input, .reservation-edit-form select {
  margin-bottom: 15px;
  font-size: 20px;
  background: white;
  padding: 5px;
  width: 305px;
}
