$button-blue: #28BC8C;

.search-page {
  display: flex;
  justify-content: space-between;
  min-width: 1200px;
}

.search-left-half {
  width: 800px;
  margin-left: 15px;
  height: calc(100vh - 50px);
  overflow-y: scroll;
}

.index-item-img-box img{
  width: 300px;
  height: 300px;
  margin: 10px;
}

.index-item-info {
  display: flex;
  margin-bottom: 10px;

  margin-top: 0px;
  border: 1px solid lightgray;
}
.index-item-info h3{
  font-size: 40px;
}
.index-item-info:hover {
  background: mix(white, $button-blue, 85%);
}

.search-right-half {
  width: 50%;
  height: calc(100vh - 50px);
  background-color: $button-blue;
  margin-right: 15px;
}
