// Place all the styles related to the api/sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$button-blue: #28BC8C;
$edit-orange: #D4632E;

.site-show {
  min-height: calc(100vh - 50px);
}

.site-images-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.site-images-list {
  overflow: auto;
  display: flex;
  height: calc(100vh/2);
  justify-content: space-between;
}

.site-image-box {
  // overhang encourages user to scroll
  width: calc(100vw/3.1);
  height: calc(100vh/2);
  overflow: hidden;
  margin-right: 5px;
  display: flex;
  justify-content: center;
}

.site-image-box img {
  width: auto;
  height: calc(100vh/2);
}

.price-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  background: mix(black, $button-blue, 45%);
}


.reservation-box {
  background-color: rgba(255,255,255, .5);
  position: relative;
  top: -40px;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 3px;
  height: 450px;
}
.reservation-box form {
  margin: 0px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.reservation-category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  background-color: $button-blue;
  color: white;
  margin: 15px;
  width: 200px;
  border: 1px solid lightgray;
}

.reservation-category input{
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  // width: 120px;

}

.site-reservation-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  // align-items: center;
}

.dates {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.num-guests {
  display: flex;
  align-items: center;
  justify-content: center;
}

.guest-input  {
  // width: 50px;
  display: flex;
  justify-content: center;
}

.reservation-submit {
  display: flex;
  justify-content: center;
}

#reservation-submit-button {
  width: 200px;
  height: 75px;
  margin-top: 35px;
  background-color: $button-blue;
  display: flex;
  justify-content: center;
  font-size: 30px;
}
#reservation-submit-button:hover {
  background-color: white;
  color: $button-blue;
  font-size: 30px;
}

.site-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  min-width: 1200px;
  margin-left: 15px;
  margin-right: 15px;
}

.site-bottom-left {
  width: 60%;
  overflow: none;
}

.title-location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.site-bottom-right {
  width: 40%;
  max-width: 500px;
  margin-right: 50px;
}

.reservation-input {
  display: flex;
  justify-content: center;
}

.site-text-top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 25px;
}
.site-text-top button {
  background-color: white;
  color: $button-blue;
  border: 1px solid $button-blue;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 50px;
}

.site-text-top button:hover {
  background-color: $button-blue;
  color: white;
}
